body{
  margin:0;
  overflow: hidden;
}
.app{
  margin:auto;
  text-align :center;
}
.btn{
  width:100px;
  height:40px;
  border-radius:20px;
  margin:30px 50px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: aliceblue;
}
.btn:hover{
  background-color: black;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor:pointer
}

.hover{
  width:fit-content;
  height:20px;
  border-radius:20px;
  padding:30px;
  margin: 150px auto ;
  display: flex;
  justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.hover:hover{
  background-color: black;
  color: white;
  cursor:pointer;
  border-radius:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.header{
  height:50px;
  background-color: black;
  color:rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
}

.heading{
  margin:auto
}

h3{
  margin: 50px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}